@font-face {
    font-family: 'Gilroy';
    src: url('../../Fonts/Gilroy-ExtraBold.otf');
}

.header {
    top: 0;
    left: 0;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 10;
}

.divBurger {
    display: inline-flex;
    margin-top: 55px;
}

.imgLeft {
    position: relative;
    z-index: 200;
    margin-right: 25px;
}

.imgRight {
    position: relative;
    z-index: 200;
    margin-left: 25px;
}

.linkStyles {
    font-family: Gilroy;
    padding: 0 6.5px;
    display: inline-flex;
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.menuItems {
    margin-right: 56px;
    text-decoration: none;
    color: #000;
}

.rightMenuItems {
    text-decoration: none;
    color: #000;
}

.menuItems:active {
    color: #000;
}

.wayLand {
    position: relative;
    background: #D88F5E;
    height: 4px;
    transition: all 0.3s ease-out 0s;
}

.textAroundAges {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.290629px;
    text-transform: uppercase;
}