@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../Fonts/Gilroy-Light.otf');
}

.main {
    display: flex;
    padding-left: 60px;
    align-items: center;
    height: 60px;
}

.text {
    font-family: Gilroy-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.175729px;
    text-transform: uppercase;
    color: #505050;
}