@font-face {
    font-family: 'Roboto';
    src: url('../../../Fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../../../Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../../Fonts/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../../Fonts/Gilroy-Light.otf');
}
.imgSvg{
    position: absolute;
    height: 839px;
}
.liCategories {
    font-family: Roboto;
    list-style-type: none;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.567739px;
    margin-bottom: 22px;
    text-decoration: none;
    color: black;
    height: 16px;
}

.spanCategories {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 1;
}

.spanCategoriesActive {
    font-family: Roboto-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.567739px;
    text-transform: uppercase;
    color: #262525;
    background: linear-gradient(to top, #EBD8CC 50%, transparent 50%);
    transition-duration: 0.1s;
}

.spanCategories::before {
    transition-timing-function: linear;
    transition-duration: .1s;
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    opacity: 0;
    background: linear-gradient(to top, #EBD8CC 50%, transparent 50%);
    z-index: -1;
}

.spanCategories:hover::before {
    opacity: 1;
    width: 100%;
    cursor: pointer;
}
.spanNumber {
    position: absolute;
}
.mainDiv {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.linkDiv {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.informationDiv {
    flex-grow: 10;
    background: #F0F0F0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.imgDiv {
    width: 757.99px;
    overflow: hidden;
    height: 839px;
}

.ul {
    padding-left: 0;
    width: 230px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-img {
    from {
        position: absolute;
        clip: rect(auto, auto, 1px, auto);
    }
    to {
        position: absolute;
        clip: rect(auto, auto, 839px, auto);
    }
}

@keyframes fade-out-img {
    from {
        position: absolute;
        z-index: 1;
    }
    to {
        position: absolute;
        z-index: -1;
    }
}

@keyframes fade-out-img-back {
    from {
        position: absolute;
        clip: rect(839px, auto, auto, auto);
    }
    to {
        position: absolute;
        clip: rect(0, auto, auto, auto);
    }
}

.page {
    position: absolute;
    width: 425px;
}

.pageEnter {
    opacity: 0;
    transform: scale(1.1);
    animation: fade-in .5s forwards;
}

.pageEnterBack {
    opacity: 0;
    animation: fade-in-back .5s forwards;
}

.pageExit {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s 1s;
}

.pageExitActive {
    opacity: 0;
}

.imgEnter {
    position: absolute;
    animation: fade-in-img .5s forwards;
}

.imgExit {
    position: absolute;
    animation: fade-out-img 0s forwards;
}

.imgEnterDown {
    position: absolute;
    animation: fade-out-img-back .5s forwards;
}

@keyframes fade-in-span {
    0% {
        position: absolute;
        opacity: 0;
    }
    100% {
        position: absolute;
        opacity: 1;
    }
}

@keyframes fade-out-span {
    0% {
        position: absolute;
        opacity: 1;
    }
    100% {
        position: absolute;
        opacity: 0;
    }
}

.numberEnter {
    position: absolute;
    opacity: 0;
    animation: fade-in-span .3s forwards;
}

.numberExit {
    position: absolute;
    opacity: 1;
    animation: fade-out-span .2s forwards;
}

.numberExitActive {
    position: absolute;
    opacity: 0;
}

.spanClass {
    font-family: Gilroy-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    position: relative;
    top: 221px;
    left: -200px;
    white-space: pre-wrap;
}